.container {
    display: flex;
    justify-content: center;
}

.content {
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 768px;
}

.cover {
    width: 100vw;
    height: 12rem;
    object-fit: cover;
}

.text {
    width: 100%;
    text-align: left;
    color: rgba(255, 255, 255, 0.9);
}

.nav {
    position: absolute;
    color: white;
    top: 0;
    left: 0;
    padding: 15px;
    font-size: 1rem;
}